@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ChunkFive';
  src: url('/src/assets/fonts/chunk_five.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Marlboro';
  src: url('/src/assets/fonts/marlboro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TexasBold';
  src: url('/src/assets/fonts/texas_bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Fade transition */
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s ease-in-out;
}
.fade-enter-from, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}
.fade-enter-to, .fade-leave-from {
  opacity: 1;
}

a {
  font-family: "marlboro";
}
